* {
    margin: 0;
    padding: 0;
  }
  
  .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 6, 78);
  }
  
  .board {
    width: calc(80px * 8);
    height: calc(80px * 8);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 300px rgba(0,0,0,0.8);
  }
  
  .cell {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .cell img {
    width: 48px;
    height: 48px;
    position: relative;
  }
  
  .black {
    background-color: deepskyblue;
  }

  .white {
    background-color: rgb(69, 45, 206);
  }



  

